.art-item{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.art-title{
    font-size: 26px;
    line-height: 50px;
    margin: 16px 0 10px 0;
}
.art-title:hover,.art-desc:hover{
    color: #1890ff;
}
.art-desc{
    font-size: 14px;
    color: #a3a3a3;
    font-style: italic;
}
.pubdate{
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    font-style: italic;
}
@media screen and (max-width: 1170px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}